spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/preconsultations_db
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate.format_sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
server:
  port: 8080
logging:
  level:
    org.springframework.jdbc.datasource.init: DEBUG
springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs
ai-service:
  url: http://localhost:8080/
app:
  cors:
    allowed-origins:
      - http://localhost:8080
      - http://127.0.0.1:8080
      - http://localhost:5173
      - http://127.0.0.1:5173